.settings/
.metadata/
target/
e3_*/.settings/
e3_*/e3_*/.settings/
generatorSqlmapCustom/.settings/
.project
.classpath


.log
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

.loadpath
.recommenders

